# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Personal_Working_Repo\treasure-path\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
